body{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    width:400px;
    
   
}
header nav{
    font-size: 12px;
}
header{
    background-color:#EAC926;
}
header p{
    text-align: center;
}
header ul li a{
    text-decoration: none;
    color: black; 
}
header ul li{
    list-style: none;
}
header div i{
    text-align: center;
}
.burger-menu i{
    background-color: #1259c3;
    border-radius: 6px;
    color: white;
    font-size: 30px;
    height: 30px;
    width: 30px;
    margin: 10px 0px 10px 40%;
    padding: 10px;
    
}
main section article{
    background-color: white;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

.titular{
    font-size: 24px;
}
.precios{
    font-size: 18px;
}
.descuentos{
    font-size: 16px;
}
p.parrafo-footer{
    text-align: center;
}
footer h3{
    text-align: center;
}
footer div{
    text-align: center;
}
footer div i{
    color: #1259c3; 
    font-size: 2em;
}

.pie-center{
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}

