body{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;  
   
}
/*--------------------------------------------------*/
/*----------------------HEADER----------------------*/
/*--------------------------------------------------*/
header nav{
    font-size: 12px;
}
header{
    background-color:#EAC926;
}
header p{
    text-align: center;
}
header ul li a{
    text-decoration: none;
    color: black; 
}
header ul li{
    list-style: none;
}
header div i{
    text-align: center;
}
.burger-menu i{
    background-color: #1259c3;
    border-radius: 6px;
    color: white;
    font-size: 30px;
    height: 30px;
    width: 30px;
    margin: 10px 0px 10px 40%;
    padding: 10px;
    
}
/*--------------------------------------------------*/
/*----------------------MAIN------------------------*/
/*--------------------------------------------------*/
main{
    text-align: center;
    width: 90%;

}

main section article{
    background-color: white;
    margin: 15px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
}

.logo-envio{
    border: 1px solid rgb(58, 134, 95);
    background-color: white;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin: 10px;   
}

.contenedor-prod{
    border: 1px solid #ebebeb;
    
}
.titular{
    font-size: 24px;
}
.precios{
    font-size: 18px;
}
.descuentos{
    font-size: 16px;
    color: green;
}

/*--------------------------------------------------*/
/*----------------------FOOTER----------------------*/
/*--------------------------------------------------*/

p.parrafo-footer{
    text-align: center;
}
footer h3{
    text-align: center;
}
footer div{
    text-align: center;
}
footer div i{
    color: #1259c3; 
    font-size: 2em;
}

.pie-center{
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}

